/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  background: #F8F8F8;
  font-family: sans-serif;
  height: 100vh;
  position: relative;
  width: 100vw;
}

*:where([data-combobox-selected]) {
  background: #f8f9fa !important;
}
