/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  align-items: center;
  background: #fbfbf9;
  display: flex;
  font-family: sans-serif;
  height: 100vh;
  justify-content: center;
  overflow-y: hidden;
  position: relative;
}
